# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Node
node_modules/
dist/
dist-ssr
*.local
frontend/dist/

# Project Specific
backend/uploads/
uploads/
.vscode/
.DS_Store

# Large ML models (if any are local)
*.pth
*.h5
*.bin
